body {
  padding-top: 90px;
  font-size: 18px;
}

/* images */

.b-home {
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: relative;
}


a, a:hover {
color: #00aaee;
font-family: 'Lato', sans-serif;
}

p {
  font-family: 'Raleway';
}

h1, h2, h3 { padding-top: 70px; margin-top: -70px;}

h1 {
  font-family: 'Lato', sans-serif;
}

h2 {
  color: #000;
  font-family: 'Satisfy';
}

h3 {
  color: #645D5D;
  font-family: 'Lato';
}

ul, li {
  font-family: 'Raleway';
}

.ul1
{
    list-style-type: none;
}

.navbar-header>.navbar-brand, .navbar-inverse .navbar-nav>li>a {color: #CCC;
margin-top: 2px}

#logo { margin: 5px 0 3px 0;}

.navbar-inverse {background-color: #3C3737;}

.vcenter {
    text-align: center;
    display: inline-block;
    vertical-align: middle;
    float: none;
}

.justify {
text-align:justify;
text-justify:inter-word;
text-indent:50px;
}

.footer {
  position: absolute;
	width: 100%;
	background-color: #3C3737;
	height: 65px;
	border-top: 2px #FFFFFF;
}

.footer p{
	padding-top: 10px;
  text-align: center;
  color: #CCC;
  font-size: 14px;
}


.pull-left img { margin-right: 20px; }

.project img {margin-top: 20px; margin-bottom: 20px;}

.rslides {
  position: relative;
  list-style: none;
  overflow: hidden;
  width: 100%;
  padding: 0;
  margin: 0;
  }

.rslides li {
  -webkit-backface-visibility: hidden;
  position: absolute;
  display: none;
  width: 100%;
  left: 0;
  top: 0;
  }

.rslides li:first-child {
  position: relative;
  display: block;
  float: left;
  }

.rslides img {
  display: block;
  height: auto;
  float: left;
  width: 100%;
  border: 0;
  }



